@import "../../assets/styles/Common.module"

.auth
  color: $text100
  font-family: $baseFont

  &__container
    background: $bg100
    width: 100%
    position: relative
    height: 100%
    @extend .flexRow
    @extend .p_30
    -ms-flex-pack: center
    justify-content: center

  &__form
    @extend .flexColumn
    align-items: center
    @extend .p_30
    background: #fff
    width: 25%
    border-radius: 2rem

  &__formContainer
    @extend .flexColumn
    align-items: center
    width: 100%

  &__inputContainer
    position: relative
    width: 100%
    margin: 2rem 0

    & label
      @extend .baseFont
      position: absolute
      color: $text100
      font-weight: 600
      left: 1rem
      top: 1rem

    & input
      @extend .styledInput
      @extend .p_10
      width: 100%

      &:focus
        outline: none
        border-bottom-color: $accent200

    & div
      margin-top: 1rem
      color: #ff0209
      font-size: 1.2rem


    &_inner
      @extend .flexRow
      position: relative

      & input
        @extend .styledInput
        @extend .p_10
        width: 100%

        &:focus
          outline: none
          border-bottom-color: $accent200

  &__heading
    @extend .baseFont
    font-size: $h4
    font-weight: 700
    @extend .mb_30
    margin-top: 1rem

  &__button
    @extend .baseAdminButton
    margin-top: 3rem


.visibilityIcon
  position: absolute
  top: 1rem
  right: 1rem
  z-index: 2


@media screen and (max-width: 1440px)
  .auth
    &__form
      width: 35%

@media screen and (max-height: 610px)
  .auth
    &__heading
      font-size: $h5
      margin-bottom: 2rem
      margin-top: 1rem

    &__button
      margin-top: 2rem

@media screen and (max-width: 880px)
  .auth
    &__form
      width: 45%

@media screen and (max-width: 600px)
  .auth
    &__form
      width: 60%

    &__button
      font-size: 1.8rem
      padding: 1rem 2.5rem

@media screen and (max-width: 440px)
  .auth
    &__form
      width: 80%

@media screen and (max-width: 420px)
  .auth
    &__form
      width: 90%

@media screen and (max-width: 395px)
  .auth
    &__form
      width: 100%

@media screen and (max-width: 380px)
 .auth
    &__heading
      font-size: $h5
      margin-bottom: 2rem
      margin-top: 1rem

    &__button
      font-size: 1.8rem
      padding: 1rem 2.5rem

    &__form
      padding: 2rem

@media screen and (max-width: 320px)
  .auth
    &__container
      padding: 2rem
      height: fit-content

    &__inputContainer
      margin: 1rem 0