.loader,
.loader div
  -webkit-box-sizing: border-box
  box-sizing: border-box

.loader
  display: inline-block
  position: relative
  width: 3rem
  height: 3rem

.loader div
  -webkit-box-sizing: border-box
  box-sizing: border-box
  display: block
  position: absolute
  width: 3rem
  height: 3rem
  margin: .3rem
  border: .4rem solid
  border-radius: 50%
  -webkit-animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  border-color: #5C5C5C transparent transparent transparent

.loader div:nth-child(1)
  -webkit-animation-delay: -0.45s
  animation-delay: -0.45s

.loader div:nth-child(2)
  -webkit-animation-delay: -0.3s
  animation-delay: -0.3s

.loader div:nth-child(3)
  -webkit-animation-delay: -0.15s
  animation-delay: -0.15s


@keyframes loader
  0%
    -webkit-transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    transform: rotate(360deg)




