.flexRow
  display: flex
  align-items: center

.flexColumn
  display: flex
  flex-direction: column

.imgWrapper
  height: 100%
  width: 100%
  object-fit: contain

//-----layout
.layout
  @extend .flexColumn
  justify-content: space-between
  height: 100vh
  width: 100%


//-------------header

.header
  flex-basis: 15%
  width: 100%
  padding: 3rem 10%
  height: fit-content

  &__container
    display: grid
    width: 100%
    height: 100%

  &__layout1
    grid-template-columns: 10% 60% 1.5fr
    column-gap: 2rem


  &__layout2
    grid-template-columns: 10% calc(90% - 2rem)
    column-gap: 2rem


.image
  &__container
    align-self: center
    height: 6rem
    width: 100%

    & > img
      @extend .imgWrapper


.navLayout1
  @extend .flexRow
  justify-content: space-evenly
  width: 100%

  &__item
    color: inherit
    text-decoration: none
    transition: all .5s ease-in
    position: relative

  &__underline
    display: block
    position: absolute
    width: 0
    bottom: -.1rem
    left: 0
    height: .2rem
    transition: all .5s ease-in

    &:hover
      width: 100%
      transition: all .5s ease-in

  &__overline
    display: block
    position: absolute
    width: 0
    top: -.1rem
    right: 0
    height: .2rem
    transition: all .5s ease-in

    &:hover
      width: 100%
      transition: all .5s ease-in


.navLayout2
  @extend .flexColumn
  width: 100%


.contactItems
  &__Layout1
    @extend .flexColumn
    justify-content: center
    align-items: end
    flex-wrap: wrap

  &__Layout2
    @extend .navLayout1
    margin-bottom: 1rem
    padding-bottom: .5rem


.contactsItem
  &__Layout1
    @extend .flexRow
    padding: .5rem 0
    text-decoration: none
    transition: all .5s ease-in
    cursor: pointer
    & > svg
      margin-right: 1rem

//----footer

.footer
  flex-basis: fit-content
  width: 100%
  padding: 3rem 10%
  @extend .flexColumn
  height: fit-content

  &__Layout1,
  &__Layout2,
  &__Layout3
    @extend .flexColumn
    width: 100%

    &__container
      width: 100%
      @extend .flexRow
      justify-content: space-between

      & > a
        flex-basis: 10%

    &__copyrights
      width: 100%
      @extend .flexRow
      justify-content: center
      padding: 2rem
      margin-top: 2rem

  &__Layout2
    &__container
      width: 100%
      @extend .flexRow
      justify-content: center


  &__Layout3
    &__LogoCopyrights
      width: 100%
      flex-basis: 15%
      @extend .flexColumn

      &__imageContainer
        height: 10rem
        width: 100%
        & > img
          @extend .imgWrapper

  &__navColumnItems,
  &__contactsItems
    @extend .flexColumn
    flex-basis: calc(20% - 4rem)

  &__navColumnItem,
  &__contactsItem
    margin: 1rem 0
    text-decoration: none
    cursor: pointer

  &__navRowItems
    @extend .flexRow
    justify-content: center

  &__navRowItem
    margin: 0 1rem
    text-decoration: none

  &__navRowItem,
  &__navColumnItem
    transition: all .5s ease-in


  &__contactsItem
    @extend .flexRow
    & > svg
      margin-right: 1rem