.flexRow
  display: flex
  align-items: center

.flexColumn
  display: flex
  flex-direction: column

.layout
  display: grid
  grid-template-rows: 15rem auto 20%
  height: 100vh
  width: 100%

//-------------header

.header
  width: 100%
  padding: 3rem 10%

  &__container
    display: grid
    width: 100%
    height: 100%

  &__layout1
    grid-template-columns: 10% 60% 1.5fr
    column-gap: 2rem

  &__layout2
    grid-template-columns: 15% 85%
    column-gap: 2rem


.image
  &__container
    height: 9rem
    width: 100%

    & > img
      height: 100%
      width: 100%
      object-fit: contain


.navLayout1
  @extend .flexRow
  justify-content: space-evenly
  width: 100%

  &__item
    text-decoration: none
    transition: all .5s ease-in
    position: relative

  &__underline
    display: block
    position: absolute
    width: 0
    bottom: -.1rem
    left: 0
    height: .2rem
    transition: all .5s ease-in

    &:hover
      width: 100%
      transition: all .5s ease-in

  &__overline
    display: block
    position: absolute
    width: 0
    top: -.1rem
    right: 0
    height: .2rem
    transition: all .5s ease-in

    &:hover
      width: 100%
      transition: all .5s ease-in


.navLayout2
  @extend .flexColumn
  width: 100%


.contactItems
  &__Layout1
    @extend .flexColumn
    justify-content: center
    align-items: end
    flex-wrap: wrap

  &__Layout2
    @extend .navLayout1
    margin-bottom: 1rem
    padding-bottom: .5rem


.contactsItem
  &__Layout1
    padding: .5rem 0
    text-decoration: none
    transition: all .5s ease-in
    cursor: pointer


//----footer

.footer
  width: 100%
  padding: 3rem 10%
  @extend .flexColumn