@import "../../../assets/styles/Common.module"

.modal
  width: 100%
  height: 100vh
  position: absolute
  top: 0
  left: 0
  z-index: 3
  display: none
  backdrop-filter: blur(5px)
  background: rgba(245, 245, 245, 0.05)

  &__open
    display: flex!important
    align-items: center
    justify-content: center

  &__formContainer
    width: 100%
    flex-basis: 50%
    height: fit-content
    @extend .flexColumn
    align-items: center
    padding: 3rem
    border-radius: 2rem
    position: relative

    &__closeBtn
      position: absolute
      display: none


  &__prodContent
    @extend .flexRow
    width: 100%
    height: 9rem
    padding: 1rem 0

    &__imageWrapper
      height: 9rem
      flex-basis: 15%
      margin-right: 3rem
      & > img
        height: 100%
        width: 100%
        object-fit: contain
        border-radius: 2rem
        object-position: center center

    &__podItems
      @extend .flexColumn

    &__name
      font-size: $h4
      font-weight: 600
      @extend .mb_10

  &__form,
  &__inputItems
    width: 100%
    height: fit-content
    @extend .flexColumn

  &__form
    align-items: center
    margin-top: 3rem

  &__totalPrice
    margin-top: 2rem
    font-weight: 700

  &__button
    padding: 2rem 30%
    margin-top: 3rem

  &__inputItem
    width: 100%
    height: fit-content
    display: grid
    grid-template-columns: 1fr 2fr
    column-gap: 2rem
    margin: 1rem 0

    & > label
      padding: 0.5rem
      font-size: $h6

    & > input[type="number"],
    & > input[type="text"],
    & > input[type="email"],
    & > input[type="tel"],
    & > input[type="date"]
      border: none
      outline: none
      background: white
      border-radius: 1rem
      width: 100%
      padding: 1rem

    & > input[type="number"]
      width: 40%


@media screen and (max-width: 1440px)
  .modal
    &__formContainer
      flex-basis: 60%

@media screen and (max-width: 1280px)
  .modal
    &__formContainer
      flex-basis: 65%

@media screen and (max-width: 1024px)
  .modal
    &__formContainer
      flex-basis: 75%

@media screen and (max-width: 900px)
  .modal
    &__formContainer
      flex-basis: 80%

@media screen and (max-width: 768px)
  .modal
    padding: 2rem
    &__formContainer
      flex-basis: 100%

@media screen and (max-width: 600px)
  .modal
    &__prodContent
      flex-direction: column
      height: fit-content
      &__imageWrapper
        margin-right: 0
        margin-bottom: 2rem
        height: 6rem
        flex-basis: fit-content

@media screen and (max-width: 540px)
  .modal
    &__inputItem
      grid-template-columns: 1fr
      grid-auto-rows: auto
      column-gap: 0
      row-gap: 1rem
      margin: 1rem 0
    &__prodContent
      &__imageWrapper
        height: fit-content
        width: 100%

@media screen and (max-width: 440px)
  .modal
    padding: 0
    &__formContainer
      flex-basis: 100%
      height: 100vh
      border-radius: 0
      padding: 2rem
      overflow-y: hidden
      &__closeBtn
        display: block
        top: 2rem
        right: 2rem
