@import "../Layout.module"
@import "../../../assets/styles/Common.module"

.footer
  @include flexBasis(fit-content)
  width: 100%
  padding: 3rem 10%
  @extend .flexColumn
  height: fit-content

  &__Layout1,
  &__Layout2,
  &__Layout3
    @extend .flexColumn
    width: 100%

    &__container
      width: 100%
      @extend .flexRow
      @extend .JContentSpaceBtw

      & > a
        width: fit-content
        height: 5rem

        & > img
          height: 100%
          width: 100%
          -o-object-fit: contain
          object-fit: contain

    &__copyrights
      width: 100%
      @extend .flexRow
      @extend .JContentCenter
      padding: 2rem
      margin-top: 2rem

  &__Layout2
    &__container
      width: 100%
      @extend .flexRow
      @extend .JContentCenter


  &__Layout3
    &__LogoCopyrights,
    &__LogoCopyrightsMedia
      width: 100%
      @include flexBasis(15%)
      @extend .flexColumn

      &__imageContainer
        height: 10rem
        width: 100%

        & > img
          height: 100%
          width: 100%
          -o-object-fit: contain
          object-fit: contain

    &__LogoCopyrightsMedia
      display: none

  &__navColumnItems,
  &__contactsItems
    @extend .flexColumn
    @include flexBasis(max-content)

  &__navColumnItem,
  &__contactsItem
    margin: 1rem 0
    text-decoration: none
    cursor: pointer

  &__navRowItems
    @extend .flexRow
    @extend .JContentCenter

  &__navRowItem
    margin: 0 1rem
    text-decoration: none

  &__navRowItem,
  &__navColumnItem
    @extend .commonTransition


  &__contactsItem
    @extend .flexRow

    & > svg
      margin-right: 1rem


.socialLinks
  &__items
    @extend .flexRow

  &__item
    margin: .5rem
    width: 2.5rem
    height: 2.5rem

    & > img
      width: 100%
      height: 100%
      -o-object-fit: contain
      object-fit: contain

@media screen and (max-width: 1024px)
  .footer
    padding: 3rem 7%

@media screen and (max-width: 768px)
  .footer
    &__Layout1,
    &__Layout2,
    &__Layout3
      &__container
        display: grid
        grid-template-columns: 1fr
        grid-auto-rows: auto
        row-gap: 3rem
        justify-items: center

    &__navRowItems
      flex-direction: column

    &__Layout3
      &__LogoCopyrights
        display: none

      &__LogoCopyrightsMedia
        display: flex
        &__imageContainer
          height: 5rem

@media screen and (max-width: 420px)
  .footer
    padding: 3rem
@media screen and (max-width: 390px)
  .footer
    padding: 3rem 2rem