@import "../Layout.module"

.footer
  flex-basis: fit-content
  width: 100%
  padding: 3rem 10%
  @extend .flexColumn
  height: fit-content

  &__Layout1,
  &__Layout2,
  &__Layout3
    @extend .flexColumn
    width: 100%

    &__container
      width: 100%
      display: flex
      justify-content: space-between

      & > a
        width: fit-content
        height: 5rem

        & > img
          @extend .imgWrapper

    &__copyrights
      width: 100%
      @extend .flexRow
      justify-content: center
      padding: 2rem
      margin-top: 2rem

  &__Layout2
    &__container
      width: 100%
      @extend .flexRow
      justify-content: center


  &__Layout3
    &__LogoCopyrights,
    &__LogoCopyrightsMedia
      width: 100%
      flex-basis: 15%
      @extend .flexColumn

      &__imageContainer
        height: 10rem
        width: 100%

        & > img
          @extend .imgWrapper

    &__LogoCopyrightsMedia
      display: none

  &__navColumnItems,
  &__contactsItems
    @extend .flexColumn
    flex-basis: max-content

  &__navColumnItem,
  &__contactsItem
    margin: 1rem 0
    text-decoration: none
    cursor: pointer

  &__navRowItems
    @extend .flexRow
    justify-content: center

  &__navRowItem
    margin: 0 1rem
    text-decoration: none

  &__navRowItem,
  &__navColumnItem
    transition: all .5s ease-in


  &__contactsItem
    @extend .flexRow

    & > svg
      margin-right: 1rem


.socialLinks
  &__items
    @extend .flexRow

  &__item
    margin: .5rem
    width: 2.5rem
    height: 2.5rem

    & > img
      width: 100%
      height: 100%
      object-fit: contain


@media screen and (max-width: 768px)
  .footer
    &__Layout1,
    &__Layout2,
    &__Layout3
      &__container
        display: grid
        grid-template-columns: 1fr
        grid-auto-rows: auto
        row-gap: 3rem
        justify-items: center

    &__navRowItems
      flex-direction: column

    &__Layout3
      &__LogoCopyrights
        display: none

      &__LogoCopyrightsMedia
        display: flex
        &__imageContainer
          height: 5rem