@import "../Layout.module"

//-------------header

.header
  flex-basis: 15%
  width: 100%
  padding: 3rem 10%
  height: fit-content

  &__container
    width: 100%
    height: 100%

  &__layout1
    display: grid
    grid-template-columns: 10% 75% min-content
    column-gap: 2rem


  &__layout2
    display: grid
    grid-template-columns: 10% 85%
    column-gap: 3rem

    & > a
      flex-basis: fit-content

.image
  &__container
    align-self: center
    height: 6rem
    width: 100%

    & > img
      @extend .imgWrapper


.navLayout1
  @extend .flexRow
  justify-content: space-evenly
  width: 100%

  &__item
    color: inherit
    text-decoration: none
    transition: all .5s ease-in
    position: relative

  &__underline
    display: block
    position: absolute
    width: 0
    bottom: -.1rem
    left: 0
    height: .2rem
    transition: all .5s ease-in

    &:hover
      width: 100%
      transition: all .5s ease-in

  &__overline
    display: block
    position: absolute
    width: 0
    top: -.1rem
    right: 0
    height: .2rem
    transition: all .5s ease-in

    &:hover
      width: 100%
      transition: all .5s ease-in


.navLayout2
  @extend .flexColumn
  width: 100%
  flex-basis: 80%


.contactItems
  &__Layout1
    @extend .flexColumn
    justify-content: center
    flex-wrap: wrap
    & > nav
      @extend .flexColumn
      justify-content: center

  &__Layout2
    @extend .flexRow
    justify-content: space-between
    width: 100%
    margin-bottom: 1rem
    padding-bottom: 1rem
    & > nav
      @extend .flexRow
      justify-content: space-evenly
      width: 100%
      flex-basis: 75%

.contactsItem
  &__Layout1
    @extend .flexRow
    padding: .5rem 0
    text-decoration: none
    transition: all .5s ease-in
    cursor: pointer

    & > svg
      margin-right: 1rem

.socialLinks
  &__items
    @extend .flexRow

  &__item
    margin: .5rem
    width: 2.5rem
    height: 2.5rem

    & > img
      width: 100%
      height: 100%
      object-fit: contain