@import '../../assets/styles/Common.module'

.page
  &__container
    padding: 3rem 10%
    @extend .flexColumn
    width: 100%

  &__content
    @extend .flexColumn
    width: 100%


//-----productList-----------
.prodList
  @extend .grid
  gap: 2rem
  width: 100%
  padding: 2rem 0
  grid-template-columns: repeat(4, 1fr)


.prodItem
  @extend .flexColumn
  width: 100%
  border-radius: 2rem
  padding: 2rem

  &__imageWrapper
    height: 23rem
    width: 100%
    @extend .mb_30

    & > img
      height: 100%
      width: 100%
      border-radius: 2rem
      -o-object-fit: contain
      object-fit: contain
      -o-object-position: center center
      object-position: center center

  &__items
    @extend .flexColumn
    @extend .AItemsCenter
    width: 100%

  &__name
    font-size: $h3
    font-weight: 600
    @extend .mb_10

  &__price
    @extend .mb_20
    font-size: $h6

  &__moreBtn
    text-decoration: none
    padding: 1.5rem 3rem
    @extend .mb_20

  &__payButton
    padding: 1.5rem 30%
    cursor: pointer
//------------------------------


.pagination
  @extend .flexRow
  width: fit-content
  margin: 2rem auto
  -ms-flex-wrap: wrap
  flex-wrap: wrap

  &__nav,
  &__item
    margin: 1rem
    border-radius: 1rem
    width: 4rem
    height: 4rem
    @extend .flexRow
    @extend .JContentCenter
    cursor: pointer
    color: inherit
    font-size: inherit
    @extend .commonTransition

    &:hover
      -webkit-transform: scale(110%)
      -ms-transform: scale(110%)
      transform: scale(110%)

  &__nav
    width: fit-content
    padding: 0 1rem



@media screen and (max-width: 1600px)
  .prodItem
    &__imageWrapper
      height: 20rem

@media screen and (max-width: 1280px)
  .prodItem
    &__imageWrapper
      height: 15rem

@media screen and (max-width: 1024px)
  .page
    &__container
      padding: 3rem 7%

  .prodList
    grid-template-columns: repeat(3, 1fr)

  .prodItem
    &__imageWrapper
      height: 20rem

@media screen and (max-width: 840px)
  .prodList
    grid-template-columns: repeat(2, 1fr)

@media screen and (max-width: 768px)
  .prodItem
    &__name
      font-size: 3.5rem

@media screen and (max-width: 600px)
  .prodItem
    &__imageWrapper
      height: 18rem
    &__name
      font-size: $h4

@media screen and (max-width: 540px)
  .prodList
    grid-template-columns: 1fr

  .prodItem
    &__imageWrapper
      height: 30rem

@media screen and (max-width: 420px)
  .page
    &__container
      padding: 3rem

  .prodItem
    &__imageWrapper
      height: 25rem

@media screen and (max-width: 390px)
  .page
    &__container
      padding: 3rem 2rem

  .prodItem
    &__imageWrapper
      height: 20rem
    &__name
      font-size: $h5


@media screen and (max-width: 320px)
  .prodItem
    &__imageWrapper
      height: 15rem