$bg100: #F2F2F2
$bg200: #E8E8E8
$bg300: #BFBFBF
$primary100: #2C3E50
$primary200: #57687C
$accent100: #F7CAC9
$accent200: #926B6A
$text100: #333333
$h1: 6.1rem
$h2: 4.9rem
$h3: 3.9rem
$h4: 3.1rem
$h5: 2.5rem
$h6: 2rem
$text: 1.6rem
$small: 1.3rem
$extraSmall: 1rem
$baseFont: 'Nunito Sans'

.baseFont
  color: $text100
  font-family: $baseFont
  font-size: $text

.flexRow
  display: flex
  align-items: center

.flexColumn
  display: flex
  flex-direction: column

.mb_10
  margin-bottom: 1rem

.mb_15
  margin-bottom: 1.5rem

.mb_20
  margin-bottom: 2rem

.mb_25
  margin-bottom: 2.5rem

.mb_30
  margin-bottom: 3rem

.mb_40
  margin-bottom: 4rem

.mb_50
  margin-bottom: 5rem

.p_10
  padding: 1rem

.p_15
  padding: 1.5rem

.p_20
  padding: 2rem

.p_30
  padding: 3rem

.baseAdminButton
  padding: 1.5rem 3rem
  font-family: $baseFont
  border: .1rem solid $accent200
  background: #ffffff
  font-size: $h6
  color: $accent200
  font-weight: 700
  border-radius: 3rem
  transition: all .5s ease-in

  &:hover,
  &:active
    background: $accent200
    color: #ffffff
  &:disabled
    background: $bg300
    color: $text100
    cursor: not-allowed
.box
  box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.25)
  background: $bg200
  border-radius: 2rem
  @extend .p_20
  height: fit-content

.styledInput
  border-top: none
  border-left: none
  border-right: none
  border-bottom: .3rem solid $text100

.hrCommon
  height: .2rem
  border-bottom: .2rem solid $accent200
  background: $accent200

.mainCommon
  @extend .flexColumn
  flex-basis: 76%
  width: 100%
  @extend .p_20
  @extend .baseFont
  height: 80vh
  overflow-y: auto

.inputNumber
  width: 7rem
  height: 4rem
  outline: none
  border: 1px solid $accent200
  border-radius: 1rem
  background: $bg100
  @extend .p_10

.inputCheckBox
  border: 1px solid $accent200
  border-radius: .5rem
  width: 2rem
  height: 2rem

.adminInputText
  border: .1rem solid $accent200
  border-radius: 1rem
  @extend .p_10
  width: 100%
  background: $bg100