$bg100: #F2F2F2
$bg200: #E8E8E8
$bg300: #BFBFBF
$primary100: #2C3E50
$primary200: #57687C
$accent100: #F7CAC9
$accent200: #926B6A
$text100: #333333
$h1: 6.1rem
$h2: 4.9rem
$h3: 3.9rem
$h4: 3.1rem
$h5: 2.5rem
$h6: 2rem
$text: 1.6rem
$small: 1.3rem
$extraSmall: 1rem
$baseFont: 'Nunito Sans'

@mixin flexBasis($value)
  -ms-flex-preferred-size: $value
  flex-basis: $value


@mixin backdropFilter($value)
  -webkit-backdrop-filter: blur($value)
  backdrop-filter: blur($value)


@mixin columnGap($gap)
  -webkit-column-gap: $gap
  -moz-column-gap: $gap
  column-gap: $gap


@mixin boxShadow($value)
  -webkit-box-shadow: $value
  box-shadow: $value


.baseFont
  color: $text100
  font-family: $baseFont
  font-size: $text


.grid
  display: -ms-grid
  display: grid


.dFlex
  display: -webkit-box
  display: -ms-flexbox
  display: flex


.flexRow
  @extend .dFlex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center


.flexColumn
  @extend .dFlex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column


.JContentCenter
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center


.AItemsCenter
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center


.JContentSpaceBtw
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between


.commonTransition
  -webkit-transition: all 0.5s ease-in
  -o-transition: all 0.5s ease-in
  transition: all .5s ease-in


.mb_10
  margin-bottom: 1rem

.mb_15
  margin-bottom: 1.5rem

.mb_20
  margin-bottom: 2rem

.mb_25
  margin-bottom: 2.5rem

.mb_30
  margin-bottom: 3rem

.mb_40
  margin-bottom: 4rem

.mb_50
  margin-bottom: 5rem

.p_10
  padding: 1rem

.p_15
  padding: 1.5rem

.p_20
  padding: 2rem

.p_30
  padding: 3rem



.baseAdminButton
  padding: 1.5rem 3rem
  font-family: $baseFont
  border: .1rem solid $accent200
  background: #ffffff
  font-size: $h6
  color: $accent200
  font-weight: 700
  border-radius: 3rem
  @extend .commonTransition

  &:hover,
  &:active
    background: $accent200
    color: #ffffff

  &:disabled
    background: $bg300
    color: $text100
    cursor: not-allowed


@media screen and (max-width: 395px)
  .baseAdminButton
    font-size: 1.8rem

.box
  @include boxShadow(0 4px 10px 0 rgba(51, 51, 51, 0.25))
  background: $bg200
  border-radius: 2rem
  @extend .p_20
  height: fit-content

.styledInput
  border-top: none
  border-left: none
  border-right: none
  border-bottom: .3rem solid $text100

.hrCommon
  height: .2rem
  border-bottom: .2rem solid $accent200
  background: $accent200

.mainCommon
  @extend .flexColumn
  @include flexBasis(auto)
  width: 100%
  @extend .p_20
  @extend .baseFont
  overflow-y: auto

.inputNumber
  width: 7rem
  height: 4rem
  outline: none
  border: 1px solid $accent200
  border-radius: 1rem
  background: $bg100
  @extend .p_10

.inputCheckBox
  border: 1px solid $accent200
  border-radius: .5rem
  width: 2rem
  height: 2rem

.adminInputText
  border: .1rem solid $accent200
  border-radius: 1rem
  @extend .p_10
  width: 100%
  background: $bg100

@media screen and (max-width: 390px)
  .inputNumber
    width: 6rem
    height: 3rem

